<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>A New Startup: Sign Up Today!</title>
	<script src="<%= static_path + "/jquery/jquery-1.11.3.min.js" %>"></script>
    <script src="<%= static_path + "/bootstrap/js/bootstrap.min.js" %>"></script>
    <!-- Bootstrap core CSS -->
    <link href="<%= static_path + "/bootstrap/css/theme/" + theme + "/bootstrap.css" %>" type="text/css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="<%= static_path + "/bootstrap/css/jumbotron-narrow.css" %>" type="text/css" rel="stylesheet">
	<link href="<%= static_path + "/bootstrap/css/carousel.css" %>" type="text/css" rel="stylesheet">	
  </head>

  <body>
	
	<div class="container">	
  	<% include ./layouts/head %>	
	</div>	
  <!-- Heading -->
  
  <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
	  <!-- Overlay -->
	  <div class="overlay"></div>

	  <!-- Indicators -->
	  <ol class="carousel-indicators">
		<li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
		<li data-target="#bs-carousel" data-slide-to="1"></li>
		<li data-target="#bs-carousel" data-slide-to="2"></li>
	  </ol>
	  
	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
		<div class="item slides active">
		  <div class="slide-1"></div>
		  <div class="hero">
			<hgroup>
				<h1>Invest your spare</h1>        
				<h3>Take the first step toward earning more</h3>
			</hgroup>
			<button class="btn btn-hero btn-lg" role="button">See all features</button>
		  </div>
		</div>
		<div class="item slides">
		  <div class="slide-2"></div>
		  <div class="hero">        
			<hgroup>
				<h1>Be risk free</h1>        
				<h3>7.50% Minimum return per annum</h3>
			</hgroup>       
			<button class="btn btn-hero btn-lg" role="button">See all features</button>
		  </div>
		</div>
		<div class="item slides">
		  <div class="slide-3"></div>
		  <div class="hero">        
			<hgroup>
				<h1>UP TO 21% RETURNS</h1>        
				<h3>Get better returns than FD, RD, and MF</h3>
			</hgroup>
			<button class="btn btn-hero btn-lg" role="button">See all features</button>
		  </div>
		</div>
	  </div> 
   </div>
  <!-- Heading End -->
	<hr class="featurette-divider">
	
    <div class="container">		
	  <div class="row">
		<div class="col-md-4">
              <div class="thumbnail">
                <img src="public/img/package-1.jpg" alt="">
                <div class="caption">
                  <h4 class="pull-right">INR 50,000</h4>
                  <h4><a href="#">Silver</a></h4>				  
				  <div class="list-group">					
					  <p class="list-group-item-text">✓ 7.5% fixed return per annum</p>	
					  <p class="list-group-item-text">✓ Over 1% to 12% per annum variable return</p>
					  <p class="list-group-item-text">✓ Quarterly / Yearly payouts</p>
					  <p class="list-group-item-text">✓ Duration minimum 365+ days</p>					  
				  </div>				  
                  <center><a class="btn btn-lg btn-success" href="register">Invest Now</a></center>
                </div>                
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <img src="public/img/package-2.jpg" alt="">
                <div class="caption">
                  <h4 class="pull-right">INR 100,000</h4>
                  <h4><a href="#">Gold</a></h4>
                    <div class="list-group">					
					  <p class="list-group-item-text">✓ 8% fixed return per annum</p>	
					  <p class="list-group-item-text">✓ Over 1.5% to 13% per annum variable return</p>
					  <p class="list-group-item-text">✓ Quarterly / Yearly payouts</p>
					  <p class="list-group-item-text">✓ Duration minimum 365+ days</p>					  
				  </div>	
                  <center><a class="btn btn-lg btn-success" href="register">Invest Now</a></center>
                </div>                
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <img src="public/img/package-5.jpg" alt="">
                <div class="caption">
                  <h4 class="pull-right">INR 200,000</h4>
                  <h4><a href="#">Platinum</a></h4>
				  <div class="list-group">					
					   <p class="list-group-item-text">✓ 8% fixed return per annum</p>		
					  <p class="list-group-item-text">✓ Over 2% to 13% per annum variable return</p>
					  <p class="list-group-item-text">✓ Quarterly / Yearly payouts</p>
					  <p class="list-group-item-text">✓ Duration minimum 365+ days</p>					  
				  </div>	
                  <center><a class="btn btn-lg btn-success" href="register">Invest Now</a></center>
			   </div>               
              </div>
            </div>
	</div>
      <!-- START THE FEATURETTES -->     
	 <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
			<div class="thumbnail">
				<img src="public/img/portfolio-1.jpg" alt="">
			</div>
        </div>
      </div>

      <hr class="featurette-divider">

          <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
		<h1><center>Recent Blogs </center></h1>
        <div class="col-lg-4">      
          <h2>Heading</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">          
          <h2>Heading</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">          
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <hr class="featurette-divider">

      <div class="row featurette">
		<div class="col-md-5">
			 <div class="thumbnail">
				<img src="public/img/services-1.jpg" alt="">
			 </div>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>       
      </div>   
      <!-- /END THE FEATURETTES -->       
    </div> <!-- /container -->  	
  </body>  
  <% include ./layouts/footer %>
</html>
